@import (inline) '../node_modules/materialize-css/bin/materialize.css';

@import '../node_modules/font-awesome/less/font-awesome.less';
@fa-font-path: '../font';

h2 {
  color: #999;
  font-weight: bold;
}